[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Kaktus
Icon=harbour-kaktus
Exec=harbour-kaktus

[X-Sailjail]
Permissions=Internet;Pictures;WebView
OrganizationName=org.mkiol
ApplicationName=kaktus
